*.json
pegasus-traces-master
fits
datasets/
data/
data_old/
testing.ipynb
.idea
.vscode
*/__pycache__/
__pycache__/
*.csv
*.zip
test.py
helpers/githubHeft
*.txt
venv/
linux_env/
simulation_info.xlsx
sim_files/
simulation_output/